##
# Application Properties
##

NODE_ENV=
SECRET=VTB9wKmchJT
PORT=8080
LOG_NAME=world-sport-action/api
LOG_LEVEL=debug
MYSQL_USER=wsadevuser1
MYSQL_PASSWORD=RqcMkR5!Yu6!R8
MYSQL_DATABASE=wsa_shop
MYSQL_DATABASE_USER=wsa_users
MYSQL_HOST=wsa-stg.cmalw1nkhsie.ap-southeast-2.rds.amazonaws.com
MYSQL_PORT=3306
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
SENDGRID_API_KEY=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
SERVER_URL=http://localhost:8080
COMMON_SERVICE_API_URL=https://common-api-dev.worldsportaction.com
REGISTRATION_API_URL=https://registration-api-dev.worldsportaction.com